@import "../../../styles/scss/global/styles/colors/colors.scss";

body {
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
}

.about-container {
  //   border: solid 1px $red;
  color: var(--red);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}
.header-wrap {
  //   border: 1px solid blue;
  background-color: $greyBlue;
  height: 100vh;
  min-height: 700px;

  h1 {
    position: absolute;
    top: 50%;
    text-align: right;
    color: #ffffff;
    left: 20%;
    z-index: 1;
    font-size: 55px;
    font-style: italic;
    letter-spacing: 4px;
    font-family: "old_standard_tt", Georgia, "Times New Roman", Times, serif;
    font-weight: 500;
    line-height: 1.1;
  }
}
.darius-kiuberis {
  position: absolute;
  top: 50%;
  font-stretch: expanded;
  //   width: inherit;
  //   margin: 0px;
  //   margin-top: 0px;
  color: #ffffff;
  //   text-transform: uppercase;
  //   text-align: center;
  //   z-index: 2;

  //   left: 30px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 700;
  //   margin-top: -12px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.header-image-container {
  //   border: solid 1px red;
  background: url(../../../assets/images/personal.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  //   background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 54%;
  filter: opacity(0.7);
}
// ********************************************** blog START
.blog-wrap {
  // border: solid red;
  // position: relative;
  display: flex;
  justify-content: center;
  // height: 500px;
}
.blog-content-container {
  max-width: 70%;
  height: auto;
  position: relative;
  display: flex;
  color: $white;
  top: -50px;
  // left: 15%;
  background-color: $brown;
  font-size: 15px;
  font-family: "hallo_sans", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;

  // white-space: pre-wrap;
  // white-space: -moz-pre-wrap;
  // white-space: -pre-wrap;
  // white-space: -o-pre-wrap;
  // word-wrap: break-word;

  p {
    margin: 0 0 17px;
  }
}
.blog-left {
  // border: 1px solid green;
  flex: 1;
  border-right: 1px solid $white;
  margin: 7% 0 7% 7%;
  padding: 0 8% 0 0;
}
.blog-right {
  // border: 1px solid blue;
  flex: 1;
  margin: 7%;
  padding: 0 0 0 4%;
}
// ********************************************* blog END
// ********************************************* quote START
.quote-wrap {
  // border: 1px solid grey;
  // height: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5% 0 5% 0;
}
.quote {
  // border: 1px solid #000;
  text-shadow: 0 0 100px #ffffff;
  font-size: 40px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  color: #3e3e40;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0px;
  // font-family: 'old_standard_tt', Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 55px;
  span {
    color: $brown;
  }
  i {
    // border: 1px solid #000;
    margin: 0 0 0 300px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}
// ******************************************** quote END
.footer-wrap {
  //   border: 1px solid aqua;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90% 10%;
  background-color: $greenLight;
  height: 500px;
  text-transform: uppercase;
}
.copyright-container {
  //   border: 1px solid red;
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  font-size: 12px;
  letter-spacing: 3px;
}
.copyright {
  //   border: 1px solid blue;
}
.link-test {
  //   border: 1px solid green;
  color: $grey;
  text-decoration: none;
}
.border-top {
  position: absolute;
  background: $white;
  z-index: 10;
  height: 24px;
  top: 20px;
  left: 20px;
  right: 20px;
}
.border-right {
  position: absolute;
  background: $white;
  z-index: 10;
  width: 24px;
  top: 20px;
  bottom: 0;
  right: 20px;
}
// .border-bottom {
//   position: absolute;
//   background: $white;
//   z-index: 10;
//   height: 24px;
//   bottom: 20px;
//   left: 20px;
//   right: 20px;
// }
.border-left {
  position: absolute;
  background: $white;
  z-index: 10;
  width: 24px;
  top: 20px;
  left: 20px;
  bottom: 0;
}
