body {
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
}

.about-container {
  color: var(--red);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

.header-wrap {
  background-color: #353f55;
  height: 100vh;
  min-height: 700px;
}

.header-wrap h1 {
  position: absolute;
  top: 50%;
  text-align: right;
  color: #ffffff;
  left: 20%;
  z-index: 1;
  font-size: 55px;
  font-style: italic;
  letter-spacing: 4px;
  font-family: "old_standard_tt", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.1;
}

.darius-kiuberis {
  position: absolute;
  top: 50%;
  font-stretch: expanded;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header-image-container {
  background: url(../../../assets/images/personal.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 54%;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-content-container {
  max-width: 70%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  top: -50px;
  background-color: #b46357;
  font-size: 15px;
  font-family: "hallo_sans", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

.blog-content-container p {
  margin: 0 0 17px;
}

.blog-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ffffff;
  margin: 7% 0 7% 7%;
  padding: 0 8% 0 0;
}

.blog-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 7%;
  padding: 0 0 0 4%;
}

.quote-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5% 0 5% 0;
}

.quote {
  text-shadow: 0 0 100px #ffffff;
  font-size: 40px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  color: #3e3e40;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0px;
  font-size: 30px;
  line-height: 55px;
}

.quote span {
  color: #b46357;
}

.quote i {
  margin: 0 0 0 300px;
  font-weight: 100;
  letter-spacing: 1px;
}

.footer-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  background-color: #b4dbbf;
  height: 500px;
  text-transform: uppercase;
}

.copyright-container {
  color: #353f55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10% 0 10%;
  font-size: 12px;
  letter-spacing: 3px;
}

.link-test {
  color: #353f55;
  text-decoration: none;
}

.border-top {
  position: absolute;
  background: #ffffff;
  z-index: 10;
  height: 24px;
  top: 20px;
  left: 20px;
  right: 20px;
}

.border-right {
  position: absolute;
  background: #ffffff;
  z-index: 10;
  width: 24px;
  top: 20px;
  bottom: 0;
  right: 20px;
}

.border-left {
  position: absolute;
  background: #ffffff;
  z-index: 10;
  width: 24px;
  top: 20px;
  left: 20px;
  bottom: 0;
}
/*# sourceMappingURL=about.css.map */