@import "../../../../../styles/scss/global/mediaQueries/queries.scss";

// @todo "mea" put on top of  "histria"
@media screen and (max-width: $breakpoint-mobile) {
  .header-wrap {
    h1 {
      top: 70%;
      left: 15%;
      font-size: 35px;
      letter-spacing: 2px;
    }
  }
  .header-image-container {
    width: 100%;
  }
  .darius-kiuberis {
    display: none;
  }
  .blog-content-container {
    // border: 10px solid aqua;
    flex-wrap: wrap;
  }
  .blog-left {
    border-right: none;
  }
  .blog-right {
    display: none;
  }
  .border-top {
    display: none;
  }
  .border-right {
    display: none;
  }
  .border-left {
    display: none;
  }
  .copyright-container {
    justify-content: center;
  }
  .link-test {
    display: none;
  }

  .quote {
    font-size: 30px;
    line-height: 40px;

    i {
      margin: 0;
    }
  }
}

@media (min-width: $breakpoint-mobile-portrait) and (max-width: $breakpoint-tablet) {
  .blog-content-container {
    // border: 10px solid brown;
    // flex-wrap: wrap;
  }
  // .blog-left {
  //   border-right: none;
  // }
  // .blog-right {
  //   display: none;
  // }
  .border-top {
    display: none;
  }
  .border-right {
    display: none;
  }
  .border-left {
    display: none;
  }

  .quote {
    font-size: 30px;
    line-height: 40px;

    i {
      margin: 0;
    }
  }
}
