@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../../styles/fonts/Roboto/Roboto-Italic.ttf");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar-container {
  // border: solid 1px red;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 34%;
  grid-template-areas:
    ". . "
    "logo links"
    ". . ";
}

.logo-container {
  // border: solid 1px blue;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

.logo-wrap {
  // border: 1px solid aqua;
  width: 70px;

  a:active {
    border-bottom: none;
  }
}

.logo-wrap:hover .link:after {
  content: "Kiuberis";
  color: #fff;
}

.links-container {
  // border: solid 1px tomato;
  grid-area: links;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 33% 33% 34%;
  grid-template-areas:
    ". . ."
    "about contact login"
    ". . .";
}

.about-wrap {
  // border: 1px solid aqua;
  display: flex;
  align-items: center;
  grid-area: about;
  // margin: 0 0 0 10px;
}

.about-wrap:hover .link:after {
  content: "me";
  color: #fff;
}

.contact-wrap {
  // border: 1px solid aqua;
  display: flex;
  align-items: center;
  grid-area: contact;
}

.contact-wrap:hover .link:after {
  content: "now";
  color: #fff;
}

.login-wrap {
  // border: 1px solid aqua;
  display: flex;
  align-items: center;
  grid-area: login;
}

.login-wrap:hover .link:after {
  content: "here";
  color: #fff;
}
